/* CSS declarations go here */

/*color pallet*/
/*
Brown #483527
Big Apple #F00000
aglet #f0f0d8
Muted Life #D8D8A8
Circada #C0C078
Leprechaun Shoes #609000
*/
.bg-wrapper {
	background-color: white;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100vh;
}

.disclaimer {
	font-size: .8em;
	color: white;
	position: fixed;
	bottom: 15px;
}

#welcome {
/*Text Styling*/
	font-family: 'Lato', sans-serif;
	color: white;
/*Text Orientation*/
	overflow: auto;
	text-align: center;
	margin: auto;
	position: absolute;
	top: 20%;
	text-align: center;
/*Block Styling*/
	background-color:black;
   z-index:0;
   opacity:.7;
   width: 100%;
   left: 0%;
   padding: 2px;
}

#welcome h1{
	color: white;
	font-weight: 900;
}

#welcome h2 {
   width: 100%;
}

/*Question Heading*/
h1 {
	color: #000;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
}

/*Anchor Button Styles */
p {
	font-family: 'Lato', sans-serif;
}

#flowchart {
}

.btn-default, .btn-default:active {
	background-color: #609000;
	border-color: white;
	color: white;
}

.btn-default:hover {
	background-color: #D8D8A8;
	border-color: white;
	color: #609000;
}

/*Sart Over Prompt*/
.restart {
	padding-top: 73%;
	font-size: 1.5em;
	color: red;
}
























